<% vars = data_provider('webroot/_global') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="${vars['favicon']}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${context.get('title')}</title>

    <!-- CSS -->
    % for css_url in vars['css_files']:
    <link rel="stylesheet" type="text/css" href="${css_url}">
    % endfor


  <body>
    ${next.body()}
    <!-- bottom javascript -->
    % for script_url in vars['bottom_javascript']:
      <script src="${script_url}"></script>
    % endfor
  </body>
</html>
