body { padding-top: 70px; }

.starter-template {
  padding: 40px 15px;
}

.centered {
    text-align: center;
}
/*
  http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar 
  align to to center when navigation is colapsed
*/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}